html{
  width: 100%;
  height: 100%;
}

body{
  width: 100%;
  height: 100%;
}

.personHead {
  display: flex;
  flex-direction: column;
}


.el-aside {
  overflow:unset;
}

@-webkit-keyframes frontFlipDown {
  to {
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
  }
}

@keyframes frontFlipDown {
  to {
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
  }
}

@-webkit-keyframes backFlipDown {
  to {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
  }
}

@keyframes backFlipDown {
  to {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
  }
}